* {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT-SIZE: 100.01%;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px;
	line-height: 20px;
}
BODY {
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
#wrapper {
	BACKGROUND-IMAGE: url(bg1000-left.gif); PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0.62em; WIDTH: 62em; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: repeat-y; PADDING-TOP: 0px
}
#bg-right {
	BACKGROUND-IMAGE: url(bg-right.gif); WIDTH: 62em; BACKGROUND-REPEAT: repeat-y; BACKGROUND-POSITION: right 50%
}
#header {
	WIDTH: 62em; FLOAT: left; HEIGHT: 8.5em; COLOR: #5c5c5c
}
#headerbackground {
	BACKGROUND-IMAGE: url(images/headbg.png);
	MIN-HEIGHT: 10em;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: right top;
	margin-top: 5px;
}
#headerbackground-right {
	MIN-HEIGHT: 8.5em;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: right top;
}
.schriftzug {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0.62em; PADDING-RIGHT: 0px; PADDING-TOP: 1.5em
}
.logorub {
	WIDTH: 102px; FLOAT: right; HEIGHT: 136px
}
.logolehrstuhl {
	VERTICAL-ALIGN: text-bottom
}
#header H1 {
	PADDING-BOTTOM: 0px;
	TEXT-TRANSFORM: uppercase;
	MARGIN: 0px;
	PADDING-LEFT: 0.37em;
	PADDING-RIGHT: 0px;
	COLOR: #003560;
	FONT-SIZE: 1.6em;





	PADDING-TOP: 1
.em
; 					padding-top: 1.8em;
}
#header H2 {
	PADDING-BOTTOM: 0px;
	TEXT-TRANSFORM: uppercase;
	MARGIN: 0px;
	PADDING-LEFT: 0.62em;
	PADDING-RIGHT: 0px;
	COLOR: #003560;
	FONT-SIZE: 1em;
	padding-top: 0.5em;
}
#header H3 {
	PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; MARGIN: 0px; PADDING-LEFT: 1em; PADDING-RIGHT: 0px; COLOR: #003560; FONT-SIZE: 0.87em; PADDING-TOP: 0.62em
}
#metanavigation {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 40em; PADDING-RIGHT: 2em; FLOAT: right; COLOR: #5c5c5c; FONT-SIZE: 0.68em; PADDING-TOP: 2em
}
#metanavigation A:link {
	TEXT-TRANSFORM: uppercase; LETTER-SPACING: 1px; COLOR: #5c5c5c; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#metanavigation A:visited {
	TEXT-TRANSFORM: uppercase; LETTER-SPACING: 1px; COLOR: #5c5c5c; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#metanavigation A:hover {
	TEXT-DECORATION: underline
}
#history {
	PADDING-BOTTOM: 0.62em; PADDING-LEFT: 0.62em; WIDTH: 58.75em; PADDING-RIGHT: 0.62em; FLOAT: left; COLOR: #626262; PADDING-TOP: 0.62em
}
#history A {
	COLOR: #5c5c5c; TEXT-DECORATION: none
}
#history A:hover {
	TEXT-DECORATION: underline
}
#wo_bin_ich {
	FONT-SIZE: 0.68em
}
#footer {
	BORDER-BOTTOM: #ddd 2px solid; PADDING-BOTTOM: 0.62em; PADDING-LEFT: 0.62em; WIDTH: 58.75em; PADDING-RIGHT: 0.62em; COLOR: #666; CLEAR: both; BORDER-TOP: #a2c614 1px solid; PADDING-TOP: 0.62em
}
#footer A:link {
	COLOR: #5c5c5c; FONT-SIZE: 1em; TEXT-DECORATION: none
}
#footer A:visited {
	COLOR: #5c5c5c; FONT-SIZE: 1em; TEXT-DECORATION: none
}
#footer A:hover {
	TEXT-DECORATION: underline
}
#fusszeilentext {
	FONT-SIZE: 0.68em
}
#umschalt {
	FLOAT: right
}
#umschalt UL {
	DISPLAY: inline
}
#umschalt UL LI {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 18px; PADDING-RIGHT: 0px; DISPLAY: inline; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
#umschalt UL A {
	TEXT-DECORATION: none
}
#umschalt UL LI#druckversion {
	BACKGROUND-IMAGE: url(drucken.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left 50%
}
#umschalt UL LI#normalversion {
	BACKGROUND-IMAGE: url(kontrast.gif); DISPLAY: none; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left 50%
}
#umschalt UL LI#kontrastversion {
	BACKGROUND-IMAGE: url(kontrast.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left 50%
}
